<div class="main">
    <div class="nav">
        <aside><p>Your broker: Fincap Securities</p></aside>
       
       
        <div class="last">
            <div class="mid">
                <aside><input type="text" placeholder="search"/></aside>
               <button class="search"> <i class="fa-solid fa-magnifying-glass"></i></button>
               
            </div>
            <aside class="not"><i class="fa-regular fa-bell"  mat-raised-button color="primary" matBadge="5" matBadgeColor="warn"matBadgeSize="small" ></i></aside>
            <aside class="vr"></aside>
            <aside class="prof"><img src="https://images.pexels.com/photos/3785079/pexels-photo-3785079.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"/></aside>
        </div>
      

    </div>
</div>