* {
  overflow-x: hidden;
  /* border: 1px solid black; */
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.main {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 100%;
}

.sidenav {
  width: 16%;
  height: 100%;
  overflow-y: hidden;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 0.4rem;
}

.pageContent {
  width: 85%;
  background-color: rgb(239, 239, 239);
  height: 100%;
}

.nav {
  background-color: white;
  width: 100%; /* Set the width to 100% */
  
}

.intro {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 0 0;
  padding: 10px;
}

.pageContent {
  width: 100%;
}

.others {
  display: flex;
  align-items: center;
}

.vr {
  margin: 0 1.5rem 0 0;
  color: black;
  border: 1px solid black;
  height: 10px;
  margin: 0 10px 0 10px;
}

.mag-2 {
  margin: 0 1rem 0 0;
}

.line-graph {
  height: 300px;
  width: 50%;
  margin: 1rem 0 0 2rem;
  border-radius: 20px;
  background-color: white;
}

.first-block {
  display: flex;
  align-items: center;
  /* border: 1px solid black; */
  overflow-y: hidden;
  
}

.l-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.acc-details {
  width: 40%;
  height: 300px;
  border-radius: 20px;
  background-color: white;
  margin: 10px 0 0 2.5rem;
  
}

.mag-3 {
  margin: 20px;
}

.fa-eye {
  margin: 0 20px 0 0;
}

.amount {
  display: flex;
  align-items: center;
  /* height: 100px; */
  font-size: 35px;
  margin:0 0 0 1rem;
}

.fa-cedi-sign {
  
  margin: 0 0 45px 0;
}
.n1{
  width: 100%;
  overflow-y: hidden;
}
.amt {
  height: 50px;
  /* font-size: 50px; */
  overflow-y: hidden;
  margin: 0 0 30px 0;
  text-align: center;
  padding: 5px;
}
hr{
  width: 90%;
  align-items: center;
  justify-content: center;
  margin: 0 0 2.5rem 1.5rem ;
}
.acc-last{
  display: flex;
  align-items: center;
  margin: 0 0 2rem 2rem;
  justify-content: space-between;

}
.btn-1{
  border-radius: 5px;
  background-color: rgb(6, 6, 95);
  width: 220px;
  padding: 10px;
  color: white;
  margin: 0 1.5rem 0 0;
}
.btn-2{
  border-radius: 5px;
  width: 220px;
  padding: 10px;
  color: rgb(6, 6, 95) ;
  margin: 0 1.5rem 0 0 ;
  background-color: white;
  
}
.mag-4{
  margin: 0 0 0 2rem;
}