<!-- dashboard.component.html -->

<div class="main" >
    <div class="sidenav"><app-sidenav></app-sidenav></div>
    <div class="pageContent">
      

      <div class="nav">
        <app-main-nav class="n1"></app-main-nav>
      </div>
      <div class="intro">
        <div class="dash">
            <aside>Dashboard</aside>
        </div>
      <div class="others">
        <aside class="mag-1">Portfolio breakdown</aside>
        <aside class="vr"></aside>
        <aside class="mag-2">Statements & reports</aside>
      </div>
     
    </div>
      <div class="first-block">
          <div class="line-graph">
          <app-smooth-area-chart />
          </div>
          <div class="acc-details">
            <aside class="l-1">
              <aside class="mag-3"><p>Account balance</p></aside>
              <i class="fa-solid fa-eye"></i>
            </aside>
            <aside class="amount">
              <i class="fa-solid fa-cedi-sign"></i><aside class="amt">10</aside>
            </aside>
            <hr>
            <div class="f-b-e">
              <aside class="mag-4"><p>See your orders</p></aside>
            <aside class="acc-last">
              <button class="btn-1">Deposit</button>
              <button class="btn-2">Withdraw</button>
            </aside>
            </div>
            

          </div>
      </div>

      
 
    </div>
  </div>
  