* {
  overflow-x: hidden;
  /* border: 1px solid black; */
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.main {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 100%;
}

.sidenav {
  width: 16%;
  height: 100%;
  overflow-y: hidden;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 0.4rem;
}

.pageContent {
  width: 85%;
  background-color:#F4F4F4;
  height: 100%;
}

.nav {
  background-color: #FFFFFF;
  width: 100%; /* Set the width to 100% */
  box-shadow: -10px 0 10px -10px rgba(0, 0, 0, 0.2);
  
  
}

.intro {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 0 0;
  padding: 10px;
}

.pageContent {
  width: 100%;
}

.others {
  display: flex;
  align-items: center;
}

.vr {
  margin: 0 1.5rem 0 0;
  color: black;
  border: 1px solid black;
  height: 10px;
  margin: 0 10px 0 10px;
}

.mag-2 {
  margin: 0 1rem 0 0;
}

.line-graph {
  height: 300px;
  width: 50%;
  margin: 1rem 0 0 2rem;
  border-radius: 20px;
  background-color: white;
}

.first-block {
  display: flex;
  align-items: center;
  /* border: 1px solid black; */
  overflow-y: hidden;
  
}

.l-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.acc-details {
  width: 40%;
  height: 300px;
  border-radius: 20px;
  background-color: white;
  margin: 10px 0 0 2.5rem;
  
}

.mag-3 {
  margin: 20px;
}

.fa-eye {
  margin: 0 20px 0 0;
}

.amount {
  display: flex;
  align-items: center;
  /* height: 100px; */
  font-size: 35px;
  margin:0 0 0 1rem;
}

.fa-cedi-sign {
  
  margin: 0 0 45px 0;
}
.n1{
  width: 100%;
  overflow-y: hidden;
  
}
.amt {
  height: 50px;
  /* font-size: 50px; */
  overflow-y: hidden;
  margin: 0 0 30px 0;
  text-align: center;
  padding: 5px;
}
hr{
  width: 90%;
  align-items: center;
  justify-content: center;
  margin: 0 0 2.5rem 1.5rem ;
}
.acc-last{
  display: flex;
  align-items: center;
  margin: 0 0 2rem 2rem;
  justify-content: space-between;

}
.btn-1{
  border-radius: 5px;
  background-color: rgb(6, 6, 95);
  width: 220px;
  padding: 10px;
  color: white;
  margin: 0 1.5rem 0 0;
}
.btn-2{
  border-radius: 5px;
  width: 220px;
  padding: 10px;
  color: rgb(6, 6, 95) ;
  margin: 0 1.5rem 0 0 ;
  background-color: white;
  
}
.mag-4{
  margin: 0 0 0 2rem;
}
.small-size{
  height: 30px;
}
.mid-line{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0 0 1rem;
}
/*
this section contains the divs beneath the chart
*/
.midline-label{
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 0 0 2.2rem;
}
.d-1{
  margin: 0 0 0 1rem;
 
  padding: 40px;
  background-color: white;
  border-radius: 10px;
  
}
.d-2{
  margin: 0 2rem 0 0;
  border-radius: 10px;
  padding: 40px;
  background-color: white;
}
.d-3{
  margin: 0 2rem 0 0;
  border-radius: 10px; 
  padding: 40px;
  background-color: white;
}
.d-4{
  margin: 0 2rem 0 0;
  border-radius: 10px;
  padding: 40px;
  background-color: white;
}
.d-5{
  margin: 0 2rem 0 0;
  border-radius: 10px;
  padding: 40px;
  background-color: white;
}
.d-6{
  margin: 0 2rem 0 0;
  border-radius: 10px;
  padding: 40px;
  background-color: white;
}
.d-7{
  margin: 0 2rem 0 0;
  border-radius: 10px;
  padding: 40px;
  background-color: white;
}
.mag-5{
  margin: 0 3rem 0 0;
}
.assets {
  display: flex;
  flex-wrap: wrap; /* Allow flex items to wrap to the next line */
  justify-content: space-between;
  width: 100%;
  /* border: 1px solid black; */
  margin: 3rem 0 0 0;
}
.first-asset {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(45% - 6rem); /* Adjusted width to create space between the first and second assets */
  margin: 1rem 0 0 2rem;
  /* border: 1px solid black; */
  background-color: #FFFFFF;
  border-radius: 10px;
}
.second-asset,
.third-asset {
  width: calc((45% - 6rem) / 2); /* Divide the remaining space equally between the second and third assets */
  margin: 0 6rem 0 0;
}
.goil {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  border: 1px solid;
  border-color: gray;
  width: 90%;
}
.f-name{
  display: flex;
}

.price {
  display: flex;
  flex-direction: column;
  
  margin: 1.5rem 0 0 0; 
  align-items: center;
  
  
}

.flex-price {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
}
.flex-price > p {
  margin: 0 10px 3px 0;
}
.flex-price>.fa-cedi-sign{
  margin: -2px 0 0 0;
}
.fa-caret-down {
  color: red;
  margin: 1rem 0 0 0; 
}

.b-name {
  display: flex;
  align-items: center;
  border: 1px solid black;
  margin: 1rem 4rem 0 0; 
  
}
.b-name>img{
  margin: 0 0 0 -2rem;
}
.red-pointer {
  color: red;
}

.green-pointer {
  color: green;
}
.other{
  display: flex;
  padding: 1rem;
  flex-direction: column;
  border: 1px solid;
  border-color: gray;
  width: 90%;
  


}
.c-1{
  display: flex;
  align-items: center;
}
.c-2{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.term{
  display: flex;
  align-items: center;
}
.price-yield{
  display: flex;
  flex-direction: column;
  margin: 15px 0 0 0;
}
.wrapper{
  display: flex;
  align-items: center;
  
  
  margin: 1rem 0 1rem 1rem;
  width: 100%;
  
  justify-content: space-between;
}
.term{
  display: flex;
}